.header {
    background: rgba(255, 255, 255, 1);
}
.header_wrapper {
    max-width: 872px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 40px ;
    padding-left: 40px;
    padding-right: 40px;
    align-items: center;
    padding-bottom: 77px;
}
.header_menu ul {
    display: flex;
    list-style: none;
    gap: 24px;
   
    
}
.header_menu ul li {
    color:  var(--header-color);
font-family: "Inter";
font-style: Regular;
font-size: 16px;
font-weight: 400;
line-height: 150%;
letter-spacing: 0%;

}
.header_menu ul a {
     text-decoration: none;
}
.wrapper {
     background: rgba(255, 255, 255, 1);
}
.active {
     color:  var(--header-color);
font-size: 16px;
font-family: "Inter-bold";
font-weight: 700;
line-height: 150%;
letter-spacing: 0%;

}