.section_top {
    margin: 0 auto;
    max-width:872px;
    display:flex ;
    padding-left: 40px;
    padding-right: 40px;
    gap: 24px;
    margin-bottom: 70px;

}
.img_text h1 {
    color:var(--img_text);

font-family: Inter;
font-style: Bold;
font-size: 48px;
font-weight: 700;
line-height: 125%;
letter-spacing: -3%;
text-align: left;
margin:  0px;
}
.img_text p {
    font-family: Inter-bold;
font-size: 24px;
font-weight: 700;
line-height: 125%;

text-align: left;
margin-bottom: 24px;
}
.span_global {
    color: var(--header-color)
}
.Social_link {
    display: flex ;
    gap: 55px;
    align-items: center;
}
.social {
    display: flex;
    gap: 8px;
}
.link_bit {
    display: flex ;
    gap: 8px;
    align-items: center;
    border-bottom: 3px solid rgba(191, 117, 6, 1);
    max-width: 179px;
    padding-right: 8px;
    padding-left: 8px;
    
}
link_bit a {
    color: var(--img_text);
font-family: "Inter";
font-style: Bold;
font-size: 16px;
font-weight: 700;
line-height: 150%;
letter-spacing: 0%;
text-align: left;

}
.page_h1 {
    color: rgba(191, 117, 6, 1);

font-family: Inter-bold;
font-style: Bold;
font-size: 48px;
font-weight: 700;
line-height: 125%;
letter-spacing: -3%;
text-align: left;
margin-bottom: 32px;
}
.images_pag {
    display: flex;
    justify-content: space-between;
}
.page_2_TExt_h1 {
    color:  rgba(191, 117, 6, 1);
font-family: Inter-bold;
font-style: Bold;
font-size: 24px;
font-weight: 700;
line-height: 135%;
letter-spacing: -2%;
text-align: left;
}
.program span {
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 4px;
    padding-top: 5px;
    border: 1px solid;
  
border: 1px solid  rgba(221, 156, 60, 1);
border-radius: 4px;
background: rgba(255, 255, 255, 1);
}
.image_pag_1 {
    display: flex;
    gap: 8px;
    flex-direction: column;
}
.image_page_2 {
    display: flex;
    gap: 8px;
    flex-direction: column;
}
.image_pag_1 p {
    color:  rgba(33, 27, 18, 1);

font-family: "Inter";
font-size: 16px;
font-weight: 400;
line-height: 150%;
letter-spacing: 0%;
text-align: left;
}

.end_page2 {
    display: flex;
    align-items: center;
    gap: 20px;
}
.g_1 {
    display: flex;
    align-items: center;
   padding-left: 3px;
   padding-right: 8px;
   border-bottom: 2px solid  rgba(221, 156, 60, 1);
   padding-bottom: 6px;
   padding-top: 2px;
}
.g_1 a {
    margin-right: 3px;
    text-decoration: none   ;
    color:  rgba(33, 27, 18, 1);
font-family: "Inter";

font-size: 16px;
font-weight: 700;
line-height: 150%;
letter-spacing: 0%;
text-align: left;
}