* {
    box-sizing:border-box;
}
.section_top {
    margin: 0 auto;
    max-width:872px;
    display:flex ;
    padding-left: 40px;
    padding-right: 40px;
    gap: 24px;
    margin-bottom: 70px;

}
.img_text h1 {
    color:var(--img_text);

font-family: Inter-bold;
font-style: Bold;
font-size: 48px;
font-weight: 700;
line-height: 125%;
letter-spacing: -3%;
text-align: left;
margin:  0px;
margin-bottom: 8px;
}
.img_text p {
    font-family: Inter-bold;
font-size: 24px;
font-weight: 700;
line-height: 125%;
margin: 0px;

text-align: left;
margin-bottom: 24px;
}
.span_global {
    color: var(--header-color)
}
.Social_link {
    display: flex ;
    gap: 55px;
    align-items: center;
}
.social {
    display: flex;
    gap: 8px;
}
.link_bit {
    display: flex ;
    gap: 8px;
    align-items: center;
    border-bottom: 3px solid rgba(191, 117, 6, 1);
    max-width: 179px;
    padding-right: 8px;
    
    
}
link_bit a {
    color: var(--img_text);
font-family: "Inter";
font-style: Bold;
font-size: 16px;
font-weight: 700;
line-height: 150%;
letter-spacing: 0%;
text-align: left;
text-decoration: none;

}
.link_bit span a {
   
    text-decoration: none;
    color: black;
font-family: "Inter-bold";
font-style: Bold;
font-size: 14px;
font-weight: 400;
line-height: 150%;
letter-spacing: 0%;
text-align: left;
text-decoration: none;

}
.social img:hover {
    border-bottom:  3px solid rgb(218, 190, 154);
  
}
.link_bit:hover {
    border-bottom:  3px solid rgb(218, 190, 154);
    transition: border-bottom 1s;
}
.page_h1 {
    color: rgba(191, 117, 6, 1);

font-family: Inter-bold;
font-style: Bold;
font-size: 48px;
font-weight: 700;
line-height: 125%;
letter-spacing: -3%;
text-align: left;
margin-bottom: 32px;
}
.images_pag {
    display: flex;
    justify-content: space-between;
}
.page_2_TExt_h1 {
    color:  rgba(191, 117, 6, 1);
font-family: Inter-bold;
font-style: Bold;
font-size: 24px;
font-weight: 700;
line-height: 135%;
letter-spacing: -2%;
text-align: left;
}
.program {
    display: flex;
    gap: 8px;
}
.program span {
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 4px;
    padding-top: 5px;
    border: 1px solid;
  
border: 1px solid  rgba(221, 156, 60, 1);
border-radius: 4px;
background: rgba(255, 255, 255, 1);
}
.image_pag_1 {
    display: flex;
    gap: 8px;
    flex-direction: column;
}
.image_page_2 {
    display: flex;
    gap: 8px;
    flex-direction: column;
}
.image_pag_1 p {
    color:  rgba(33, 27, 18, 1);

font-family: "Inter";
font-size: 16px;
font-weight: 400;
line-height: 150%;
letter-spacing: 0%;
text-align: left;
}

.end_page2 {
    display: flex;
    align-items: center;
    gap: 20px;
}
.g_1 {
    display: flex;
    align-items: center;
   padding-left: 3px;
   padding-right: 8px;
   border-bottom: 2px solid  rgba(221, 156, 60, 1);
   padding-bottom: 6px;
   padding-top: 2px;
}
.g_1 a {
    margin-right: 3px;
    text-decoration: none   ;
    color:  rgba(33, 27, 18, 1);
font-family: "Inter";

font-size: 16px;
font-weight: 700;
line-height: 150%;
letter-spacing: 0%;
text-align: left;
}
.page3_wrapper {
    margin: 0 auto;
    max-width: 872px;
    display: flex;
    gap: 56px;
    padding-left: 40px;
    padding-right: 40px;
}
.Text_page_3 {
    display: flex;
    flex-direction: column;
    margin-top: 27px;
    gap: 16px;
}
.Text_page_3 span {
    color: rgba(33, 27, 18, 1);
font-family: "Inter";
font-style: Regular;
font-size: 24px;
font-weight: 400;
line-height: 135%;
text-align: left;
margin: 0;
}
.Text_page_3 h1 {
  color:  rgba(191, 117, 6, 1);
font-family: Inter;
font-style: Bold;
font-size: 32px;
font-weight: 700;
line-height: 125%;
letter-spacing: -3%;
text-align: left;
margin: 0
}
.Text_page_3 p {
    color: rgba(33, 27, 18, 1);
font-family: Inter;
font-style: Regular;
font-size: 16px;
font-weight: 400;
line-height: 150%;
letter-spacing: 0%;
text-align: left;
margin: 0;
}
.Text_page_3 h2 {
    color:  rgba(221, 156, 60, 1);
font-family: Helvetica;
font-style: Regular;
font-size: 24px;
font-weight: 400;
line-height: 150%;

text-align: left;
margin: 0;
}
.Text_page_3 img {
   margin-top: 16px;
width: 200px;
height: 74.63px;
}
.wrat {
    margin:  0 auto;
    max-width: 872px;
    margin-top: 40px;
    margin-bottom: 0px;
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 140px;
    
}
.Program_scill h1 {
    color:  rgba(33, 27, 18, 1);
font-family: Inter;
font-style: Bold;
font-size: 24px;
font-weight: 700;
line-height: 135%;
letter-spacing: -2%;
text-align: left;
margin: 0px;
}
.programs span {
    padding: 5px 8px 4px 8px;
    box-sizing: border-box;
    border: 1px solid  rgba(221, 156, 60, 1);
    border-radius: 4px;
    
}
.Program_scill {
    display: flex;
    flex-direction: column;
    gap: 17px;
   
}
.img_page1 {
   width: 230px;
    height: 240px;
}
.writting_header {
    margin: 0 auto;
    max-width: 872px;
    display: flex;
    padding-left: 40px;
    padding-right: 40px;
    flex-direction: column;
    justify-content: center;
}
.writting_header h1 {
    margin: 0px;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.email form{
    display: flex;
    flex-direction: column;
    
    min-width: 435px;
    margin: 0 auto;
   
   
    
}
.writting {
    position: relative;
}
.email {
    margin-bottom: 167px;
    display: flex;
    gap: 30px;
   
  
}
.iop {
    position: absolute;
    top: 9%;
    right:  0;
    width: 35%;
}
.input_class {
     margin-bottom: 24px;
     padding-top: 21px;
     padding-bottom: 21px;
     box-sizing: border-box;
border: 3px solid  rgba(224, 222, 220, 1);
border-radius: 6px;
 width: 100%;
 line-height: 150%;
 background: white;
 padding-left: 20px;
 
}

.email form h1 {
     text-align: start;
}


.textarr {
margin-bottom: 24px;
     padding-top: 21px;
     padding-bottom: 21px;
    
border: 3px solid  rgba(224, 222, 220, 1);
border-radius: 6px;
padding-left: 20px;
width: 100%;
}
.sumbit {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
    
}
.simbit_class {
   display: flex;
   align-items:center;
  gap: 10px;
   border: none;
   background: white;
   border-bottom: 3px solid  rgba(221, 156, 60, 1);
   cursor: pointer;
}
.submit_span {
    color:  rgba(33, 27, 18, 1);
font-family: Inter-bold;
font-style: Bold;
font-size: 16px;
font-weight: 700;
line-height: 150%;
letter-spacing: 0%;
text-align: left;
}


.email form button:hover {
    color:  rgb(182, 129, 49);
    transition: color 1s
}

.email form label {
    color:  rgba(131, 128, 124, 1);
font-family: Inter;
font-style: Regular;
font-size: 16px;
font-weight: 400;
line-height: 150%;
letter-spacing: 0%;
text-align: left;
}
@media (max-width: 862px) {
    .Social_link {
    display: flex ;
    gap: 3px;
   text-align: start;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}
    .link_bit {
        display: flex;
        gap: 0px;
    }
    
    .section_top {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .images_pag {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    .page3_wrapper {
         display: flex;
        flex-direction: column;
        gap: 30px;
    }
    .page2 {
          margin-bottom: 29px;
    }
    .input_class {
        width: 70%;
    }
    .textarr  {
        width: 70%;
    }
    .sumbit {
        justify-content: center;
    }
    .programs {
        display: flex;
        flex: 1 1 10px;
    }
    .wrat {
        padding: 0px;
    }
    body {
        padding: 15px;
    }
}
@media (max-width: 520px) {
    .page2 {
        padding: 0px;
      
    }
    .page3_wrapper {
        padding: 0px;
    }
    .section_top {
        padding: 0px;
    }
    .writting_header {
        padding: 0px;
    }
    .header_wrapper {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: start;
    }
    .header_menu ul {
        flex-direction: column;
        
    }
   
}
.rel {
    position: relative;
    padding-top: 10px;
   
}
.rel .label {
    position: absolute;
    top: 0;
    left: 16px;
    background: white;
    padding-left: 8px;
    padding-right: 8px;
}
@media (max-width: 1585px) {
     .iop {
         width: 30%;
    }
}
@media (max-width: 1300px) {
     .iop {
         width: 25%;
    }
}
@media (max-width: 1100px) {
     .iop {
        display: none;
    }
   
    
}
@media (max-width: 375px) {
    
    img {
        width: 98%;
    }
}
@media (max-width: 436px) {
    body {
        width: 95%;
    }
    img {
        width: 95%;
    }
}
@media (max-width: 413px) {
    body {
        width: 95%;
    }
    img {
        width: 95%;
    }
}
@media (max-width: 540px) {
    .page2 {
        padding: 0px;
    }
    .section_top {
        padding: 0px;
    }
    .page3_wrapper {
        padding: 0px;
    }
    .writting_header {
        padding: 0px;
    }
    body {
        width: 90%;
    }
}